/.lake
zx_view_widget/node_modules/
zx_view_widget/package-lock.json.hash
zx_view_widget/package-lock.json.trace
zx_view_widget/dist/
zx_view_widget/build/
pyzx_daemon/.venv/

**/__pycache__/
**/.ruff_cache/
*.log

.claude/